<!DOCTYPE html>
<html>
  <head>
    <title>DAWG</title>
    <link rel="stylesheet" href="/styles/customer.css" />
  </head>
  <body>
    <div class="bg">
      <nav>
        <h1>DAWG</h1>
        <ul>
          <li><a href="#">About</a></li>
          <li><a href="signin.html">Profile</a></li>
          <li><a href="Register.html">History</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </nav>

      <h2>Welcome back, <%= customer1.name %>!</h2>

      <div class="notifications-container">
        <div class="notifications-header">
          <h2>Notifications</h2>
        </div>
        <div class="notifications-list">
          <ul>
            <li>
              <div class="notification-item">
                <div class="notification-icon">
                  <i class="fas fa-bell"></i>
                </div>
                <div class="notification-details">
                  <p class="notification-message">
                    You have a new message from a dog owner
                  </p>
                  <p class="notification-time">2 hours ago</p>
                </div>
              </div>
            </li>
            <li>
              <div class="notification-item">
                <div class="notification-icon">
                  <i class="fas fa-bell"></i>
                </div>
                <div class="notification-details">
                  <p class="notification-message">
                    Your rental request has been approved
                  </p>
                  <p class="notification-time">Yesterday</p>
                </div>
              </div>
            </li>
            <li>
              <div class="notification-item">
                <div class="notification-icon">
                  <i class="fas fa-bell"></i>
                </div>
                <div class="notification-details">
                  <p class="notification-message">
                    Your dog rental has been extended by one day
                  </p>
                  <p class="notification-time">3 days ago</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="wishlist-container">
        <div class="notifications-header">
          <h2>Wishlist</h2>
        </div>

        <div class="notification-list">
          <ul>
            <li>
              <div class="notification-item">
                <div class="notification-icon">
                  <i class="fas fa-bell"></i>
                </div>
                <div class="notification-details">
                  <p class="notification-message">
                    <span class="plus">+</span>Add Dogs
                  </p>
                  <p class="notification-time">Whishlist is empty</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <br /><br /><br />

      <img src="/images/SemiCircle.png" width="1250" height="350" />
    </div>
    <div class="list">
      <h5>Explore the Available Dogs</h5>
      <h6>
        Meet our pack of happy hounds! Browse our selection of lovable pups and
        <br />find the perfect furry friend to rent.
      </h6>
      <div class="container">
        <div class="card">
          <img src="/images/josph1.png" alt="" />
          <h2>Josph</h2>
          <p>
            Breed: German Shepherd <br />Age: 7 weeks old<br />Price: $60/day
          </p>
          <br /><br /><br /><br /><br /><br />
          <button type="submit">See More</button>
        </div>
        <div class="card">
          <img src="/images/goofy1.png" alt="Dog 2" />
          <h2>Goofy</h2>
          <p>
            Breed: Golden Retriever <br />Age: 1 years old<br />Price: $50/day
          </p>
          <br /><br /><br /><br /><br /><br />
          <button type="submit">See More</button>
        </div>
        <div class="card">
          <img src="/images/polly1.png" alt="Dog 3" />
          <h2>Polly</h2>
          <p>Breed: Pug <br />Age: 11 weeks old<br />Price: $50/day</p>
          <br /><br /><br /><br /><br /><br />
          <button type="submit">See More</button>
        </div>
        <br /><br />
      </div>
    </div>
    <p class="h7">Rent out your dog</p>
    <center><img src="/images/steps.jpg" width="700" height="200" /></center>
    <center><img src="/images/image1.jpg" width="90%" height="100%" /></center>
    <center><button>Rent your Dog</button></center>
    <br /><br />

    <footer>
      <div class="container">
        <div class="row">
          <div class="col1">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="col2">
            <h4>Social</h4>
            <ul>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
          <div class="col3">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Reviews</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <!-- Add any other content you want to display here -->
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
