<!DOCTYPE html>
<html>
  <head>
    <title>DAWG</title>
    <link rel="stylesheet" href="/styles/login.css" />
  </head>
  <body>
    <nav>
      <h1>DAWG</h1>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/new">Register</a></li>
        <li><a href="#">Help</a></li>
      </ul>
    </nav>
    <div class="bg1">
      <div class="login-page">
        <div class="form">
          <h2>Welcome Back!</h2>
          <form class="login-form" action="/login" method="POST">
            <div class="form-group">
              <label for="username">Username</label>
              <input type="username" id="username" name="username" required />
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" id="password" name="password" required />
              <p class="message"><a href="#">Forget password?</a></p>
            </div>
            <button type="submit">Login</button>
            <p class="message">
              <a href="/new">Don't have an account? Sign up</a>
            </p>
          </form>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col1">
            <h4>About Us</h4>
            <ul>
              <li><a href="#">Privacy Policy</a></li>
              <li><a href="#">Terms and Conditions</a></li>
            </ul>
          </div>
          <div class="col2">
            <h4>Social</h4>
            <ul>
              <li><a href="#">Instagram</a></li>
            </ul>
          </div>
          <div class="col3">
            <h4>Company</h4>
            <ul>
              <li><a href="#">About</a></li>
              <li><a href="#">Help</a></li>
              <li><a href="#">Reviews</a></li>
            </ul>
          </div>
          <div class="col-md-3">
            <!-- Add any other content you want to display here -->
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
